machine:
  node:
    version: <%= NODE_VERSION %>
  ruby:
    version: <%= RUBY_VERSION %>
  environment:
    PATH: "${PATH}:${HOME}/${CIRCLE_PROJECT_REPONAME}/node_modules/.bin"
cache_directories:
  - ~/.cache/yarn
dependencies:
  override:
    - yarn
    - bundle
  post:
    - bundle exec bundle-audit update && bundle exec bundle-audit check
    - bundle exec rubocop
